@{
    ViewData["Title"] = "Employees";
}

<div class="page-header">
    <div class="row align-bottom">
        <div class="col-xs-6">
            <h2>Employees</h2>
        </div>
        <div class="col-xs-6 text-right m-bottom-10">
            @Html.ActionLink("Add", "edit", "employees", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>
            Suspendisse et metus ligula. Nulla laoreet imperdiet magna, quis egestas sem rhoncus vitae. In non maximus sem, eget accumsan risus. Nam porttitor lorem at purus mollis dictum. Vestibulum eleifend lorem non est consectetur, vel dignissim eros cursus. Aenean magna tortor, fringilla vitae vulputate sit amet, ornare et eros. Vestibulum eget suscipit elit
        </p>
    </div>
</div>

@Html.Partial("_PaginatedList", "employees")

@section scripts {
    <script src="~/js/employees/list.js"></script>
}
