@{
    var listId = ViewData["searchListId"];
}

<div id="@listId-wrapper" class="paginated-list">

    <div class="input-group @(ViewData["searcher"] != null && (bool) ViewData["searcher"] ? "" : " hidden")">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input id="@listId-keywords" class="form-control" placeholder="@(ViewData["placeholder"] != null ? ViewData["placeholder"] : "Search...")" />
    </div>

    <div class="dynamic-content">
        <ul id="@listId-list" class="list-group clickable"></ul>
        @Html.Partial("_Loader", new ViewDataDictionary(ViewData) {
            {"loaderId", listId + "-loader"}
        })

        <div id="@listId-pagination" class="pagination-bar @(ViewData["pagination"] != null && (bool) ViewData["pagination"] ? "" : "hidden")">
            <ul id="@listId-pages" class="pagination clickable">
            </ul>
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="@listId-page-size">10</span>
                    <span class="caret"></span>
                </button>
                <ul id="@listId-page-size-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                </ul>
            </div>
        </div>
    </div>
</div>
