@model string

<div id="@Model-wrapper" class="paginated-list">

    <div id="@Model-searcher" class="input-group" style="display: none;">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input id="@Model-keywords" class="form-control" />
        <span id="@Model-clear-keywords" class="fa fa-times clear-icon"></span>
    </div>

    <div class="dynamic-content">
        <ul id="@Model-list" class="list-group clickable"></ul>
        @Html.Partial("_Loader", Model + "-loader")

        <div id="@Model-pagination" class="pagination-bar" style="display: none;">
            <ul id="@Model-pages" class="pagination clickable">
            </ul>
            <div class="dropup pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="@Model-page-size">10</span>
                    <span class="caret"></span>
                </button>
                <ul id="@Model-page-size-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
