@{
    ViewData["Title"] = "Skills";
}

<div class="page-header">
    <div class="row bottom">
        <div class="col-sm-6">
            <h2>Skills</h2>
        </div>
        <div class="col-sm-6 text-right m-top-10">
            @Html.ActionLink("Add", "edit", "skills", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<div class="form-group">
    <input id="keywords" class="form-control" placeholder="Search..." />
</div>

<div class="dynamic-content">
    <ul id="skills-list" class="list-group"></ul>
    @Html.Partial("_Loader", new ViewDataDictionary(ViewData) {
        {"loaderId", "loader"},
        {"show", true}
    })
</div>

@section scripts {
    <script src="~/js/skills/list.js"></script>
}
