@model SkillsMatrix.Models.Employee
@{
    ViewData["Title"] = "Employee details";
}

<input value="@(Model != null ? @Model.Name : "")" id="name" />
<button type="button" id="save-button">Save</button>

@Html.ActionLink("Back to list", "index", "employee")

@section scripts {
    <script src="~/js/employee/edit.js"></script>
}