@{
    ViewData["Title"] = "Skills";
}

@Html.Partial("_Loader")

<div class="page-header">
    <div class="row bottom">
        <div class="col-sm-6">
            <h2>Skills</h2>
        </div>
        <div class="col-sm-6 text-right m-top-10">
            @Html.ActionLink("Add", "edit", "skill", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<ul id="skills-list" class="list-group">
</ul>

@section scripts {
    <script src="~/js/skills/list.js"></script>
}
