@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h2>Skills matrix</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>
            Suspendisse et metus ligula. Nulla laoreet imperdiet magna, quis egestas sem rhoncus vitae. In non maximus sem, eget accumsan risus. Nam porttitor lorem at purus mollis dictum. Vestibulum eleifend lorem non est consectetur, vel dignissim eros cursus. Aenean magna tortor, fringilla vitae vulputate sit amet, ornare et eros. Vestibulum eget suscipit elit
        </p>
        <img src="~/images/skills.png" class="responsive-img" />
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="row align-bottom">
            <div class="col-xs-9">
                <h2>Most skilled employees</h2>  
            </div>
            <div class="col-xs-3 m-bottom-10 text-right">
                <a href="/employees">View all</a>  
            </div>
        </div>
        @Html.Partial("_PaginatedList", new ViewDataDictionary(ViewData) {
            {"searchListId", "employees"}
        })
    </div>
    <div class="col-sm-6">
        <div class="row align-bottom">
            <div class="col-xs-9">
                <h2>Rearest skills</h2>
            </div>
            <div class="col-xs-3 m-bottom-10 text-right">
                <a href="/skills">View all</a>  
            </div>
        </div>
        @Html.Partial("_PaginatedList", new ViewDataDictionary(ViewData) {
            {"searchListId", "skills"}
        })
    </div>
</div>

@section scripts {
    <script src="~/js/home/index.js"></script>
}
