@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h2>Skills matrix</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>
            Suspendisse et metus ligula. Nulla laoreet imperdiet magna, quis egestas sem rhoncus vitae. In non maximus sem, eget accumsan risus. Nam porttitor lorem at purus mollis dictum. Vestibulum eleifend lorem non est consectetur, vel dignissim eros cursus. Aenean magna tortor, fringilla vitae vulputate sit amet, ornare et eros. Vestibulum eget suscipit elit
        </p>
        <img src="~/images/skills.png" class="responsive-img" />
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="row bottom">
            <div class="col-sm-9">
                <h2>Most skilled employees</h2>  
            </div>
            <div class="col-sm-3 m-bottom-10 text-right">
                <a href="/employees">View all</a>  
            </div>
        </div>
        <div class="form-group no-margin" style="display: none;">
            <input id="employees-keywords" class="form-control" />
        </div>
        <div class="dynamic-content loading">
            <ul id="employees-list" class="list-group clickable"></ul>
            @Html.Partial("_Loader", new ViewDataDictionary(ViewData) {
                {"loaderId", "employees-loader"},
                {"show", true}
            })
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row bottom">
            <div class="col-sm-9">
                <h2>Rearest skills</h2>
            </div>
            <div class="col-sm-3 m-bottom-10 text-right">
                <a href="/skills">View all</a>  
            </div>
        </div>
        <div class="form-group no-margin" style="display: none;">
            <input id="skills-keywords" class="form-control" />
        </div>
        <div class="dynamic-content loading">
            <ul id="skills-list" class="list-group clickable"></ul>
            @Html.Partial("_Loader", new ViewDataDictionary(ViewData) {
                {"loaderId", "skills-loader"},
                {"show", true}
            })
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/home/index.js"></script>
}
