body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.row.align-bottom {
    font-size: 0;
}

.row.align-bottom > * {
    float: none;
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
}

.m-bottom-10 {
    margin-bottom: 10px;
}

a.reset {
    color: inherit;
    text-decoration: inherit;
}

a.reset:hover {
    color: inherit;
    text-decoration: inherit;
}

.form-group.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.dynamic-content {
    position: relative;
    min-height: 0;
}

.dynamic-content > .loader {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.dynamic-content.loading {
    min-height: 200px;
    -webkit-transition: min-height 0.5s;
    transition: min-height 0.5s;
}

.dynamic-content.loading > .loader {
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.dynamic-content.finished > .loader {
    display: none;
}

ul.clickable > li {
    cursor: pointer;
    padding: 0;
}

ul.clickable > li > a,
ul.clickable > li > span {
    display: block;
    padding: 10px 15px;
}

.badge.floating {
    float: right;
}

.responsive-img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.paginated-list .list-group {
    margin-bottom: 5px;
}

.paginated-list .form-group,
.paginated-list .input-group {
    margin-bottom: 5px;
}

.paginated-list .pagination-bar .pagination {
    margin: 0;
}

.paginated-list .dropdown-menu {
    min-width: auto;
}

.pagination-bar ul.clickable > li > a,
.pagination-bar ul.clickable > li > span {
    padding: 6px 12px;
}

.pagination-bar ul.dropdown-menu > li > span {
    padding: 3px 20px;
    cursor: pointer;
    display: block;
}

.clear-icon {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
}