body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.row.bottom {
    display: flex;
    align-items: flex-end;
}

.m-top-10 {
    margin-bottom: 10px;
}

a.reset {
  color: inherit;
  text-decoration: inherit;
}
a.reset:hover {
  color: inherit;
  text-decoration: inherit;
}

.form-group.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.dynamic-content {
    position: relative;
    min-height: 200px;
    transition: height 0.3s;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
}
